/*body{
    background: url(/assets/images/pexels-philippe-donn-1169754.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    position: relative;
}*/


@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.kodegoers{
    position: absolute;
    font-family: 'Audiowide', cursive;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: antiquewhite;
    
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Audiowide', cursive;
}
#header{
    position: absolute;
    z-index: 10;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    text-decoration-color: #fff;
}
#header h1{
    color: #fff;
}

.navbar{
    padding: 20px 0;
}

.navbar-brand{
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #ccc !important;
}
.nav-item{
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 50px;
}

.nav-link{
    color: #ccc !important;
    letter-spacing: 2px;
    font-size: 1em;
    font-weight: 700;
}

.nav-link:hover{
    background: #dcdde1 !important;
    color: #262626 !important;
    border-radius: 5px;
    transition: all 0.6s ease 0s;
}
.main{
    position: relative;
    background: url(/assets/images/pexels-philippe-donn-1169754.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 280px 0 220px;
    min-width: fit-content;
}
.main h1{
    font-size: 3.6em;
    color: #dcdde1;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 2px 2px #36454F;

}
.main h2{
    font-size: 2.3em;
    color: #dcdde1;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 2px 2px #36454F;

}
.main p{
    margin-top: 1em;
    padding: 0;
    font-size: 16px;
    color: #ccc;
    padding-bottom: 25px;
}
.main #logInButton{
    background: #718093;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    /*text-decoration: none;*/


}
.myform{
    max-width: 100%;
}
.modal-body{
  padding: 0px;  
}
.myform{
    box-shadow: 0 4px 6px 0px rgba(22, 22, 26, 0.18);
}
.btn-close{
    position: absolute;
    right: 0;
    padding: 1em;
}
.modal-content{
    width: 80%;
    margin: 0px auto;

}
.modal-body{
    padding: 0px;
}
.myform{
    padding: 2em;
    max-width: 100%;
    color: #fff;
    box-shadow: 0 4px 6px 0px rgba(22, 22, 26, 0.18);
}
.form-control{
    background-color: inherit;
    color: #fff;
    padding-left: 0px;
    border: 0px;
    border-bottom: 1px solid #fff;
}
.myform .btn{
    width: 100%;
    font-weight: 800;
    background-color: #fff;
    border-radius: 0;
    padding: .5em;
}
.myform .btn:hover{
    color: #333;
}
.myform p{
    text-align: center;
    padding-top: 2em;
    color: gray;
}
